@import './variables.scss';

body,
html,
#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: var(--color-secondary);
  margin: 0;
  overflow: hidden;
}

.wrapper {
  padding: 0 2rem;
  height: calc(100% - 56px);
}

* {
  box-sizing: border-box;
}
