@import './variables.scss';

body,
html,
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-secondary);
  background-color: #fffdf7;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  height: calc(100% - var(--header-height));
}

* {
  box-sizing: border-box;
}
