:root {
  --color-primary: #ffb700;
  --color-secondary: #282828;
  --color-white: #ffffff;
  --color-gray-ultra-light: #f6f6f6;
  --color-gray-light: #e9e9e9;
  --color-gray: #777777;
  --color-delete: #ff0000;
  --box-shadow: 0 0 15px 4px rgba(146, 146, 146, 0.15);
  --header-height: 56px;
}
