:root {
  --color-primary: rgb(255, 230, 0);
  --color-secondary: rgb(48, 48, 48);
  --color-white: #ffffff;
  --color-gray-ultra-light: rgb(248, 248, 248);
  --color-gray-light: rgb(216, 216, 216);
}
