.actions {
  display: flex;
  justify-content: flex-end;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  margin-top: 1rem;
}
.card,
.cardAnswer {
  border: 1px solid var(--color-gray-light);
  border-radius: 0.5rem;
  padding: 1rem;
  &Fields {
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
  }
  &Answer {
    height: 100%;
  }
}
