.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  width: var(--ui-width, fit-content);
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:hover:not(:disabled) {
    opacity: 85%;
  }

  &:active:not(:disabled) {
    transform: scale(0.99);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
