.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover:not(:disabled) {
    opacity: 85%;
  }

  &:active:not(:disabled) {
    transform: scale(0.99);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
