.wrapper {
  width: 16rem;
}

.input {
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-gray-ultra-light);
  color: var(--color-secondary);
  font-size: 1rem;
  padding: 0;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
}

.input_title {
  margin: 0;
  margin-bottom: 0.25rem;
}

.input::placeholder {
  color: var(--color-gray-light);
}
