@use '../styles/mixins' as m;

.wrapper {
  position: relative;
  width: var(--ui-width, fit-content);
}

.input {
  @include m.field-base;
  @include m.field-placeholder;
}

.required {
  color: var(--color-red);
}

.inputTitle,
.inputDescription {
  @include m.field-label;
}

.inputTitle {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.inputDescription {
  margin-top: 0.25rem;
}
