.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.auth {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 20px rgb(215, 215, 215);
  border-radius: 0.5rem;
}
