.wrapper {
  position: relative;
  width: var(--ui-width, fit-content);
}

.textarea {
  display: block;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-gray-ultra-light);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-secondary);
  font-size: 14px;
  width: var(--ui-width, 16rem);
  border-radius: 0.5rem;
  outline: none;
  transition:
    border-color var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing);
  line-height: 1.5;

  &:hover:not(:disabled) {
    border-color: var(--color-gray-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transition: opacity var(--transition-duration) var(--transition-timing);
  }

  &[aria-invalid='true'] {
    border-color: var(--color-red);
  }
}

.required {
  color: var(--color-red);
}

.textarea_title,
.textarea_description {
  margin: 0;
  font-size: 12px;
  color: var(--color-secondary);
  transition: color var(--transition-duration) var(--transition-timing);
  font-weight: 400;
}

.textarea_description {
  margin-top: 0.25rem;
}

.textarea_title {
  display: block;
  margin-bottom: 0.25rem;
}

.textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--color-gray);
  transition:
    opacity var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.textarea:focus::placeholder {
  opacity: 0.5;
  transform: translateX(4px);
}

.size_s {
  height: 50px;
  padding: 0 0.25rem;
}

.size_m {
  height: 70px;
  padding: 0.5rem;
}
