basePath: /api/v1
consumes:
- application/json
definitions:
  entity.Contact:
    properties:
      email:
        type: string
      phone:
        type: string
    type: object
  entity.Profile:
    properties:
      address:
        description: user address
        type: string
      contact:
        $ref: '#/definitions/entity.Contact'
      extra:
        description: extra data (for admin only)
        type: string
      fullname:
        description: user full name
        type: string
      parent_contact:
        $ref: '#/definitions/entity.Contact'
    type: object
  entity.Token:
    properties:
      access:
        description: access token
        type: string
    type: object
  entity.User:
    properties:
      id:
        description: user id
        type: integer
      profile:
        allOf:
        - $ref: '#/definitions/entity.Profile'
        description: user profile
      role:
        description: admin, teacher or student
        type: string
      username:
        description: user username
        type: string
    type: object
  entity.UserClaims:
    properties:
      id:
        description: user ID
        type: integer
      role:
        description: admin, teacher or student
        type: string
    type: object
  entity.UserWithToken:
    properties:
      token:
        $ref: '#/definitions/entity.Token'
      user:
        $ref: '#/definitions/entity.User'
    type: object
  v1.authBody:
    description: authBody represents a data for user auth (log in).
    properties:
      password:
        description: user password
        example: qwerty123
        maxLength: 40
        minLength: 8
        type: string
      username:
        description: user username
        example: user1
        maxLength: 50
        type: string
    required:
    - password
    - username
    type: object
  v1.contactBody:
    description: contactBody represents a data with profile contact.
    properties:
      email:
        example: ivanovvp@gmail.com
        maxLength: 50
        type: string
      phone:
        example: "88005553535"
        maxLength: 15
        type: string
    required:
    - email
    - phone
    type: object
  v1.exampleData:
    description: exampleData represents an output data for example endpoints.
    properties:
      access:
        description: endpoint access description
        example: student only
        type: string
      handler:
        description: handler name
        example: student
        type: string
      user_claims:
        allOf:
        - $ref: '#/definitions/entity.UserClaims'
        description: user claims (for endpoints with auth restriction)
    type: object
  v1.profileBody:
    description: profileBody represents a data with user profile.
    properties:
      address:
        description: user address
        example: 3-я ул.Строителей д. 25
        maxLength: 255
        type: string
      contact:
        allOf:
        - $ref: '#/definitions/v1.contactBody'
        description: user contact info
      extra:
        description: extra data (for admin only)
        example: только для админов
        type: string
      fullname:
        description: user full name
        example: Иванов Василий Петрович
        maxLength: 150
        type: string
      parent_contact:
        allOf:
        - $ref: '#/definitions/v1.contactBody'
        description: parent contact info (for students)
    required:
    - address
    - contact
    - fullname
    type: object
  v1.updatePasswordAdminBody:
    description: updatePasswordAdminBody represents a data to update user password
      by admin.
    properties:
      new:
        description: new password for user
        example: ytrewq321
        maxLength: 40
        minLength: 8
        type: string
    required:
    - new
    type: object
  v1.userBody:
    description: userBody represents a data with user.
    properties:
      password:
        description: user password
        example: qwerty123
        maxLength: 40
        minLength: 8
        type: string
      profile:
        allOf:
        - $ref: '#/definitions/v1.profileBody'
        description: user profile
      role:
        description: user role (teacher or student)
        enum:
        - teacher
        - student
        example: teacher
        type: string
      username:
        description: user username
        example: user1
        maxLength: 50
        type: string
    required:
    - password
    - profile
    - role
    - username
    type: object
host: 127.0.0.1:8000
info:
  contact: {}
  description: HTTP API онлайн-сервиса для IT-школы.
  title: skadi API
  version: 1.0.0
paths:
  /admin/user:
    get:
      consumes:
      - application/json
      description: Получение списка юзеров со всеми данными.
      operationId: admin-user-list
      parameters:
      - collectionFormat: csv
        description: 'user roles (accepted: "teacher", "student")'
        example:
        - student
        in: query
        items:
          type: string
        name: roles
        type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entity.User'
            type: array
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
      security:
      - JWTAccess: []
      summary: Получение списка юзеров. [Только админ]
      tags:
      - user
    post:
      consumes:
      - application/json
      description: Создание нового юзера и профиля для него со всеми данными.
      operationId: admin-user-create
      parameters:
      - description: userBody
        in: body
        name: userBody
        required: true
        schema:
          $ref: '#/definitions/v1.userBody'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/entity.User'
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "409":
          description: пользователь с введенным логином уже существует
      security:
      - JWTAccess: []
      summary: Создание нового юзера. [Только админ]
      tags:
      - user
  /admin/user/{id}:
    delete:
      consumes:
      - application/json
      description: Удаление юзера и его профиля по его id.
      operationId: admin-user-delete
      parameters:
      - description: ID юзера
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "404":
          description: пользователь не найден
      security:
      - JWTAccess: []
      summary: Удаление юзера по id. [Только админ]
      tags:
      - user
    get:
      consumes:
      - application/json
      description: Получение юзера со всеми данными по его id.
      operationId: admin-user-read
      parameters:
      - description: ID юзера
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.User'
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "404":
          description: пользователь не найден
      security:
      - JWTAccess: []
      summary: Получение юзера по id. [Только админ]
      tags:
      - user
  /admin/user/{id}/password:
    put:
      consumes:
      - application/json
      description: Смена пароля юзера по его id.
      operationId: admin-user-password-update
      parameters:
      - description: ID юзера
        in: path
        name: id
        required: true
        type: string
      - description: updatePasswordAdminBody
        in: body
        name: updatePasswordAdminBody
        required: true
        schema:
          $ref: '#/definitions/v1.updatePasswordAdminBody'
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "404":
          description: пользователь не найден
      security:
      - JWTAccess: []
      summary: Смена пароля юзера. [Только админ]
      tags:
      - user
  /admin/user/{id}/profile:
    put:
      consumes:
      - application/json
      description: Полное обновление профиля юзера по его id.
      operationId: admin-user-profile-update
      parameters:
      - description: ID юзера
        in: path
        name: id
        required: true
        type: string
      - description: profileBody
        in: body
        name: profileBody
        required: true
        schema:
          $ref: '#/definitions/v1.profileBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.User'
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "404":
          description: пользователь не найден
      security:
      - JWTAccess: []
      summary: Обновление профиля юзера по id. [Только админ]
      tags:
      - user
  /auth/login:
    post:
      consumes:
      - application/json
      description: Вход для существующего юзера по логину и паролю.
      operationId: auth-login
      parameters:
      - description: authBody
        in: body
        name: authBody
        required: true
        schema:
          $ref: '#/definitions/v1.authBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.UserWithToken'
        "400":
          description: неверный пароль
        "404":
          description: пользователь с введенным логином не найден
      summary: Вход для юзера.
      tags:
      - auth
  /auth/private/logout:
    post:
      description: Выход юзера (помещение refresh токена юзера в черный список).
      operationId: auth-private-logout
      responses:
        "204":
          description: No Content
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "403":
          description: токен в черном списке
      security:
      - JWTRefresh: []
      summary: Выход юзера.
      tags:
      - auth
  /auth/private/obtain:
    post:
      description: Получение нового access токена по данному refresh токену из cookie.
      operationId: auth-private-obtain
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Token'
        "401":
          description: неверный токен (пустой, истекший или неверный формат)
        "403":
          description: токен в черном списке
      security:
      - JWTRefresh: []
      summary: Получение access токена.
      tags:
      - auth
  /example/admin:
    get:
      description: Проверочный эндпоинт с доступом только для админов.
      operationId: example-admin
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.exampleData'
        "401":
          description: Неверный токен (пустой, истекший или неверный формат)
        "404":
          description: Юзер не админ, доступ запрещён
      security:
      - JWTAccess: []
      summary: Проверка. Только админы.
      tags:
      - example
  /example/free:
    get:
      consumes:
      - application/json
      description: Проверочный эндпоинт с доступом абсолютно всем.
      operationId: example-free
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.exampleData'
      summary: Проверка. Все.
      tags:
      - example
  /example/private:
    get:
      description: Проверочный эндпоинт с доступом только для авторизованных юзеров.
      operationId: example-private
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.exampleData'
        "401":
          description: Неверный токен (пустой, истекший или неверный формат)
        "404":
          description: Юзер не авторизован, доступ запрещён
      security:
      - JWTAccess: []
      summary: Проверка. Только авторизованные.
      tags:
      - example
  /example/student:
    get:
      description: Проверочный эндпоинт с доступом только для студентов.
      operationId: example-student
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.exampleData'
        "401":
          description: Неверный токен (пустой, истекший или неверный формат)
        "404":
          description: Юзер не студент, доступ запрещён
      security:
      - JWTAccess: []
      summary: Проверка. Только студенты.
      tags:
      - example
  /example/teacher:
    get:
      description: Проверочный эндпоинт с доступом только для преподавателей.
      operationId: example-teacher
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/v1.exampleData'
        "401":
          description: Неверный токен (пустой, истекший или неверный формат)
        "404":
          description: Юзер не преподаватель, доступ запрещён
      security:
      - JWTAccess: []
      summary: Проверка. Только преподаватели.
      tags:
      - example
produces:
- application/json
schemes:
- http
securityDefinitions:
  JWTAccess:
    description: Access JWT-token. Header will automatic add after auth (or obtain
      via refresh) is done.
    in: header
    name: Authorization
    type: apiKey
  JWTRefresh:
    description: Refresh JWT-token. Cookie will automatic add after auth is done.
    in: cookie
    name: refresh
    type: apiKey
swagger: "2.0"
