basePath: /api/v1
consumes:
- application/json
definitions:
  entity.Token:
    properties:
      access:
        description: access token
        type: string
    type: object
  entity.User:
    properties:
      id:
        description: user id
        type: string
      role:
        description: admin, teacher or student
        type: string
      username:
        description: user username
        type: string
    type: object
  entity.UserWithToken:
    properties:
      token:
        $ref: '#/definitions/entity.Token'
      user:
        $ref: '#/definitions/entity.User'
    type: object
  v1.authBody:
    description: authBody represents a data for user auth (log in).
    properties:
      password:
        description: user password
        example: qwerty123
        maxLength: 40
        minLength: 8
        type: string
      username:
        description: user username
        example: user1
        maxLength: 50
        type: string
    required:
    - password
    - username
    type: object
  v1.userBody:
    description: userBody represents a data for user auth (sign up).
    properties:
      password:
        description: user password
        example: qwerty123
        maxLength: 40
        minLength: 8
        type: string
      role:
        description: user role (teacher or student)
        enum:
        - teacher
        - student
        example: teacher
        type: string
      username:
        description: user username
        example: user1
        maxLength: 50
        type: string
    required:
    - password
    - role
    - username
    type: object
host: 127.0.0.1:8000
info:
  contact: {}
  description: HTTP API онлайн-сервиса для IT-школы.
  title: skadi API
  version: 1.0.0
paths:
  /admin/user/sign-up:
    post:
      consumes:
      - application/json
      description: Регистрация нового юзера с логином и паролем
      operationId: admin-user-sign-up
      parameters:
      - description: userBody
        in: body
        name: userBody
        required: true
        schema:
          $ref: '#/definitions/v1.userBody'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/entity.User'
        "409":
          description: Юзер с введенным логином уже зарегистрирован
      security:
      - JWTAccess: []
      summary: Регистрация юзера
      tags:
      - user
  /auth/login:
    post:
      consumes:
      - application/json
      description: Вход для существующего юзера по логину и паролю
      operationId: auth-login
      parameters:
      - description: authBody
        in: body
        name: authBody
        required: true
        schema:
          $ref: '#/definitions/v1.authBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.UserWithToken'
        "401":
          description: Неверный пароль для учетной записи юзера
        "404":
          description: Юзер с введенным логином не найден
      summary: Вход для юзера
      tags:
      - auth
  /auth/private/logout:
    get:
      description: Выход юзера (помещение refresh токена юзера в черный список)
      operationId: auth-private-logout
      responses:
        "204":
          description: No Content
        "401":
          description: Пустой или неправильный токен
        "403":
          description: Истекший или невалидный токен
      security:
      - JWTRefresh: []
      summary: Выход юзера
      tags:
      - auth
  /auth/private/obtain:
    get:
      description: Получение нового access токена по данному refresh токену из cookie.
      operationId: auth-private-obtain
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Token'
        "401":
          description: Пустой или неправильный токен
        "403":
          description: Истекший или невалидный токен
      security:
      - JWTRefresh: []
      summary: Получение access токена
      tags:
      - auth
produces:
- application/json
schemes:
- http
- https
securityDefinitions:
  JWTAccess:
    description: Access JWT-token. Header will automatic add after auth (or obtain
      via refresh) is done.
    in: header
    name: Authorization
    type: apiKey
  JWTRefresh:
    description: Refresh JWT-token. Cookie will automatic add after auth is done.
    in: cookie
    name: refresh
    type: apiKey
swagger: "2.0"
