header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 20px rgb(215, 215, 215);
}

.rightItems {
  display: flex;
  gap: 1rem;
}

.logo,
.avatar {
  width: 40px;
  height: 40px;
  background-color: rgb(211, 211, 211);
  border-radius: 0.5rem;
  cursor: pointer;
}
