header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
}

.rightItems {
  display: flex;
  gap: 1rem;
}

.logo,
.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--color-gray-light);
  border-radius: 0.5rem;
  cursor: pointer;
}
