.fluid {
  --ui-width: 100%;
}

.size_s {
  height: 30px;
  padding: 0 0.25rem;
}

.size_m {
  height: 40px;
  padding: 0 0.5rem;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-gray-ultra-light);
  color: var(--color-secondary);
  &:hover:not(:disabled) {
    background-color: var(--color-gray-light);
  }
}

.ghost {
  background-color: transparent;
  color: var(--color-secondary);
  &:hover:not(:disabled) {
    background-color: var(--color-gray-ultra-light);
  }
}
